body{
    background-image: white;
    padding-bottom: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(154, 152, 152);
    text-decoration: none;
}

.Job1{
    line-height: 0.2;
    text-indent: 20px;
}

.Job2{
    line-height: 0.2;
    text-indent: 20px;
}

.Job3{
    line-height: 0.2;
    text-indent: 20px;
}

.Job4{
    line-height: 0.2;
    text-indent: 20px;
}

.CollegeEducation{
    line-height: 1.0;
}

.MSU{
    line-height: 0.2;
    text-indent: 20px;
}

.CCAC{
    line-height: 0.2;
    text-indent: 20px;
}

.HSEducation{
    line-height: 1.0;
}

.WestA{
    line-height: 0.2;
    text-indent: 20px;
}

.ContactInfo{
    line-height: 0.2;
    text-indent: 20px;
}



.sticky{ 
    background-image: linear-gradient(to right,#18453B,grey);
    position: sticky;
    top: 0px;
    text-align: center;
    border: 3px solid white;
}